# Configured using an ansible template for ansible-argus
#
# templates/etc/argus/pepd/pepd.ini.j2
#
# Documentation: http://argus-documentation.readthedocs.io/en/latest/pep/pepd_configuration.html#argus-pep-server-configuration

[SERVICE]
enitityID = {{ pepd_entityID }}
hostname = {{ ansible_fqdn }}
port = {{ pepd_port }}
adminHost = {{ pepd_admin_host }}
adminPort = {{ pepd_admin_port }}
adminPassword =	{{ pepd_admin_password }}
{#  Loops over list of pepd_pips and extracts the alias'  #}
{% set pepd_pip_ordering = '' %}
{% for pepd_pip in pepd_pips %}
{% set pepd_pip_ordering = (order ~ "," ~ pepd_pip.keys()[0]) %}
{% if loop.last %}
pips = {{ pepd_pip_ordering }}
{% endif %}
{% endfor %}
{#  Loops over list of pepd_obligationHandlers and extracts the alias'  #}
{% set pepd_OH_ordering = '' %}
{% for pepd_OH in pepd_obligationHandlers %}
{% set pepd_OH_ordering = (order ~ "," ~ pepd_OH.keys()[0]) %}
{% if loop.last %}
obligationHandlers = {{ pepd_OH_ordering }}
{% endif %}
{% endfor %}

[PDP]
pdps = {{ pepd_pdps }}
maximumCachedResponses = {{ pepd_maximumCachedResponses }}

[SECURITY]
servicePrivateKey = {{ pepd_servicePrivateKey }}
serviceCertificate = {{ pepd_serviceCertificate }}
trustInfoDir = {{ pepd_trustInfoDir }}
enableSSL = {{ pepd_enableSSL }}
requireClientCertAuthentication	= {{ pepd_requireClientCertAuthentication }}



{% for pedp_pip in pepd_pips %}
{% if loop.first %}
#
# Policy Information Points (PIP) configuration
#
{% endif %}
{% for pepd_pip_name, pepd_pip_parameters in pepd_pip.iteritems() %}
[{{ pepd_pip_name }}]
{% for pepd_pip_var, pepd_pip_var_value in pepd_pip_parameters.iteritems() %}
{{ pepd_pip_var|e }} = {{ pepd_pip_var_value|e }}
{% endfor %}


{% for pedp_OH in pepd_obligationHandlers %}
{% if loop.first %}
#
# Obligation Handlers (OH) configuration
#
{% endif %}
{% for pepd_OH_name, pepd_OH_parameters in pepd_OH.iteritems() %}
[{{ pepd_OH_name }}]
{% for pepd_OH_var, pepd_OH_var_value in pepd_OH_parameters.iteritems() %}
{{ pepd_OH_var|e }} = {{ pepd_OH_var_value|e }}
{% endfor %}
